P {
        LIST-STYLE-POSITION: outside; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
H1 {
        FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #9d98ff; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
H2 {
        FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: white; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
BODY {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; background-color: #ffffff; WIDTH: 100%; HEIGHT: 100%;
        margin:0;
}
TD {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
A {
        COLOR: black; TEXT-DECORATION: none
}
.thead {
        FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; TEXT-ALIGN: center
}
.ttext {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; TEXT-ALIGN: center
}
.subhead {
        FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
.subhead_blue {
        FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
        }

.num {
        FONT: 10pt "Courier New",Courier,serif; COLOR: black
}
.prgbar {
        font-family:Arial; padding:0px; height: 20px; width: 200px; font-weight: bolder; font-size: 10pt; border: 1px solid; border-color: #09c; color: #0000FF}
.rebootbar {
        font-family:Arial; padding:0px; height: 20px; width: 370px; font-weight: bolder; font-size: 10pt; border: 1px solid; border-color: #09c; color: #0000FF}
.reboot1bar {
        font-family:Arial; padding:0px; height: 20px; width: 320px; font-weight: bolder; font-size: 10pt; border: 1px solid; border-color: #09c; color: #0000FF}
.linktype  {     color:  blue;   text-decoration:   underline}

#content_icons { width: 622px; _height: 800px; overflow-y: auto; position: absolute; top: 0; left: 0; bottom: 0; }
.page_title{width: 100%; height: 20px; font: bold 17px arial; color: #9d98ff; position: absolute; top: 0px; left: 0px;}
.main_bas {width: 100%; background-color: #ffffff; overflow: auto; position: absolute; top: 135px; left: 0px; bottom: 30px;}
.main_top_button{ width: 100%; overflow: auto; position: absolute; top: 50px; left: 0px; bottom: 30px;}
.main{ width: 100%; overflow: auto; position: absolute; top: 20px; left: 0px; bottom: 30px;}
#bas_top { width: 100%; height: 85px; background-color: #ffffff; position: absolute; top: 50px; left: 0px; }

#help{ width:100%; position: absolute; bottom: 30px; left: 0px; }
#help #helpframe{width:100%; height: 120px; }
#help_switch{ width:100%; height: 30px; background-color: #e5e5e5; position: absolute; bottom: 0px; left: 0px;}
.help_switch_img { width: 100%; height: 100%; position: relative; }
#help_switch #help_space{ height: 22px; width: 30px; background: url(../image/help/help-bar-icon.gif) left no-repeat; background-repeat: no-repeat; cursor:pointer; position: absolute; z-index: 2; top: 4px; left: 5px; }

#help_switch #help_center{ width: 240px; color: white; font-family: Arial; font-weight: Bold; font-size: 15px; line-height: 30px; position: absolute; z-index: 2; top: 0; left: 35px; }

#help_switch #help_show_hidden { width: 270px; font-family: Arial; color: white; font-size: 12px; font-style: italic; text-align: right; line-height: 30px; position: absolute; z-index: 2; top: 0; right: 5px; }
#help_switch #help_show_hidden a{ color:white; background-color: transparent;  position: relative; top: -2px; text-decoration:underline;}

.close_help #help_button{ width: 100%; height: 100%; background: url(../image/help/help_up.gif) no-repeat center; cursor:pointer; position: absolute; z-index: 1; top: 0; left: 0; }

.open_help  #help_button{ width: 100%; height: 100%; background: url(../image/help/help_down.gif) no-repeat center;  cursor:pointer; position: absolute; z-index: 1; top: 0; left: 0;}

.button{ float: left; width: 600px; height: 42px; }
.fix_button{width: 100%; height: 30px; position: absolute; top: 20px; left: 0px; background: url(../image/top_button_background.gif) left bottom repeat-x;}


.apply_bt, .cancel_bt, .long_add_bt, .add_bt, .edit_bt, .delete_bt, .access_common_bt,.long_common_bt, .short_common_bt, .middle_common_bt{ height: 22px; color: #f2f2f2; font-family: Arial; font-weight: Bold; font-size: 14px; background-color: transparent; border: none; cursor: pointer; padding-bottom: 2px;}
.edit_bt_little, .delete_bt_little , .long_add_bt_little{ height: 22px; color: #f2f2f2; font-family: Arial; font-weight: Bold; font-size: 12px; background-color: transparent; border: none; cursor: pointer; padding-bottom:2px; padding-left:17px;}
.apply_bt{width: 130px; background: url(../image/button/apply.gif) no-repeat;}
.cancel_bt{width: 134px; background: url(../image/button/cancel.gif) no-repeat; }
.add_bt{ width:135px; background: url(../image/button/add.gif) no-repeat;}
.long_add_bt{ width: 220px; background: url(../image/button/add_long.gif) no-repeat;}
.long_add_bt_little{ width: 220px; background: url(../image/button/add_long.gif) no-repeat;}
.edit_bt{width:190px; background: url(../image/button/edit.gif) no-repeat;}
.edit_bt_little{width:190px; background: url(../image/button/edit.gif) no-repeat;}
.delete_bt{width:175px; background: url(../image/button/delete.gif) no-repeat;}
.delete_bt_little{width:175px; background: url(../image/button/delete.gif) no-repeat;}
.access_common_bt{width:220px; background: url(../image/button/access_button.gif) no-repeat;}
.long_common_bt{width:320px; background: url(../image/button/long_button.gif) no-repeat;}
.short_common_bt{width:99px; background: url(../image/button/test.gif) no-repeat;}
.middle_common_bt{width:125px; background: url(../image/button/middle_button.gif) no-repeat;}

.com_bt{height: 22px; color: #f2f2f2; font-family: Arial; font-weight: Bold; font-size: 14px; background-color: transparent; border: none; cursor: pointer; padding-bottom: 2px; width:155px; background: url(../image/button/com_bt.gif) no-repeat;}

.long_add_gray_bt, .add_gray_bt, .edit_gray_bt, .delete_gray_bt, .long_common_gray_bt, .common_gray_bt { height: 22px; color:#808080; font-family: Arial; font-weight: Bold; font-size: 14px; background-color: transparent; border: none; cursor: pointer; padding-bottom: 2px;}
.long_add_gray_bt{ width: 200px; background: url(../image/button/add_long_gray.gif) no-repeat;}
.add_gray_bt{ width:135px; background: url(../image/button/add_gray.gif) no-repeat;}
.edit_gray_bt{width:135px; background: url(../image/button/edit_gray.gif) no-repeat;}
.delete_gray_bt{width:147px; background: url(../image/button/delete_gray.gif) no-repeat;}
.long_common_gray_bt{width:320px; background: url(../image/button/long_button_gray.gif) no-repeat;}
.common_gray_bt{width:147px; background: url(../image/button/button_gray.gif) no-repeat;}

.tables{
        font-family: Arial;
        font-size: 12px;
}

.table_header{
        color: #ffffff;
        font-weight: Bold;
        background-color: #767676;
}

.even_line{
        background-color: #e5e5e5;
}

.odd_line{
        background-color: white;
}

.divselect{
height:20px;
width:150px;
}
.divSlt{
position:absolute;
font-size:12px;

background-color:#cccccc;
}
.divSlt span{
display:block;
width:100%;
border:1px solid #999999;
background:url(selects.gif) no-repeat right center;
text-indent:6px;
cursor:pointer;
}
.divSlt ul{
display:block;
background-color:#FFFFFF;
width:100%;
border:1px solid #999999;
border-top:0px;
margin:0px;
padding:0px;
list-style:none;
}
.divSlt ul li{
text-indent:5px;
height:20px;
line-height:20px;
cursor:pointer;
}

#select_div{ position:relative; width:100%; z-index:1;}
.enable_select { color:#000000;}
.disable_select { color:gray;}
#select_title{ position:absolute; top:3px; left:20px; width:325px; z-index:9;}
#select_content{ position:absolute; top:0px; left:345px; z-index:9; width: 90px;}
#select_content span{ position:absolute; width: 90px; height:18px; cursor: default; line-height:18px;}
.enable_span { color:#000000; background-image:url(../selects.gif); background-position:right; background-repeat:no-repeat; border:1px solid #b8c6eb; }
.disable_span { color:gray; background-image:url(../selects_disabled.gif); background-position:right; background-repeat:no-repeat; border:1px solid #e5e5e5; }
#select_content #auto_conn_time_show { position:absolute; width: 100%; z-index:9;}
#select_content #auto_conn_time{ position:absolute; top:19px; left:0; width: 90px; z-index:99; height:200px; overflow-x: hidden; overflow-y:scroll; border:1px solid #b8c6eb; list-style:none; cursor: default;}
#auto_conn_time li { height: 20px; width: 75px; margin: 0; background: #FFFFFF; list-style:outside none; line-height: 18px;}

.href_underline {FONT: 9pt Arial,Helvetica, sans-serif; text-decoration: underline; color: #0000ff}
.href_underline:hover {  text-decoration: underline; color: #0000ff}
.href_underline.visited { color: #000000; text-decoration: underline;}

/* Add by miiiCasa */
body {
    text-align: center;
}
body, form, td, h1 {
    font-family: Calibri;
    font-size: 15px;
}
form {
    width: 974px;
    margin: 0 auto;
    text-align: left;
}
h1 {
    color: #333;
    font-size: 19px;
}
.common_bt {
    font-weight: normal;
    background-image: none;
    background-color: default;
    width: auto;
}
.add-table {
    background: #daf0f0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
.add-table td {
    padding: 3px 0;
}
.add-table td b {
    font-weight: normal;
}
.data-table {
    border-collapse: collapse;
}
.data-table th {
    background: #78cdd1;
    border: solid 1px #78cdd1;
    padding: 4px;
}
.data-table th .thead {
    color: #333;
    font-weight: normal;
}
.data-table, .data-table td {
    border: solid 1px #78cdd1;
    padding: 4px;
}
